---
interface Props {
    title: string;
    authors: string;
    meta: string;
    link: {
        text: string,
        href: string
    } | null;
}

const { title, authors, meta, link } = Astro.props;
---

<div class="publication-container">
    <h3 class="publication-title">{title}</h3>
    <p class="publication-authors">{authors}</p>
    <p class="publication-meta">{meta}</p>
    {link && <p class="publication-links"><a href={link.href}>{link.text}</a></p>}
</div>
